<!DOCTYPE html>
<html lang="en">
<%- include('includes/head2') %>

<body>

<svg class="profile-background-svg" viewBox="0 0 1440 829" preserveAspectRatio="xMidYMid slice" fill="none" xmlns="http://www.w3.org/2000/svg">
  <g filter="url(#filter0_i_1295_539)">
    <rect width="1440" height="829" fill="url(#paint0_radial_1295_539)"/>
  </g>
  <defs>
    <filter id="filter0_i_1295_539" x="-21" y="0" width="1461" height="929" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix"/>
      <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
      <feOffset dx="-21" dy="121"/>
      <feGaussianBlur stdDeviation="50"/>
      <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
      <feColorMatrix type="matrix" values="0 0 0 0 0.0476042 0 0 0 0 0.0852961 0 0 0 0 0.424523 0 0 0 0.4 0"/>
      <feBlend mode="normal" in2="shape" result="effect1_innerShadow_1295_539"/>
    </filter>
    <radialGradient id="paint0_radial_1295_539" cx="0" cy="0" r="1" gradientTransform="matrix(534 896.5 -1560.19 883.968 353.5 -1.43084e-05)" gradientUnits="userSpaceOnUse">
      <stop offset="0.238923" stop-color="#183B80"/>
      <stop offset="0.548077" stop-color="#5478C0"/>
      <stop offset="1" stop-color="#2A6571"/>
    </radialGradient>
  </defs>
</svg>

<img class="profile-flowers" src="/images/skillsFlowers.webp" alt="" />

<%- include('includes/banner') %>
<main class="profile-page">
  <% if (errors && errors.length) { %>
    <% errors.forEach(error => { %>
      <p class="notice"><%= error %></p>
    <% }) %>
  <% } %>

  <div class="progress-steps">
    <div class="step done">Create Account</div>
    <div class="step active">Tell Us About Yourself</div>
    <div class="step">Enter Your Skills</div>
    <div class="step">Set Your Availability</div>
    <div class="step">Create/Join Workspaces</div>
  </div>

  <br>

  <h1>Tell Us About Yourself</h1>

  <br />
  <form id="profDetails" action="/profile-details/save-profile" method="POST" enctype="multipart/form-data">
    <div class="profile-details">
      <div class="left-side">
        <div class="profile-pic">
          <img id="preview" src="/images/prof.png" alt="Profile" />
        </div>
        <input id="profilePictureInput" name="profilePicture" type="file" accept="image/*" hidden />
        <label class="changeButton" for="profilePictureInput">Change Photo</label>
      </div>

      <div class="right-side">
          <div class="box1">
            <label for="displayName">Display Name*</label>
            <input type="text" id="displayName" name="displayName" placeholder="Enter The Name You Want To Go By" required />
          </div>

          <div class="parent">
            <div class="box2">       
              <label for="currentRole">Current Role*</label>
              <input type="text" id="currentRole" name="currentRole" placeholder="Select your Role" required />
            </div>

            <div class="box3">  
              <label for="organization">Organization*</label>
              <input type="text" id="organization" name="organization" placeholder="Enter School or Company" required />
            </div>
          </div>

          <div class="box4"> 
            <label for="bio">Short Bio</label>
            <textarea 
              id="bio" 
              name="bio" 
              maxlength="150"
              placeholder="Tell us a little about yourself"></textarea>
            <p id="charCount">(0 / 150)</p>
          </div>
        </div>
    </div>
  </form>
  <br />

  <div class="postSubmit">
    <button class="authButton" type="submit" form="profDetails">
      CONFIRM
    </button>
  </div>

  <a class="skip-link" href="/skills-selection">
    Skip For Now >
  </a>

</main>

<script>
const bio = document.getElementById("bio");
const counter = document.getElementById("charCount");

bio.addEventListener("input", () => {
    counter.textContent = bio.value.length + " / 150";
});

const fileInput = document.getElementById("profilePictureInput");
const preview = document.getElementById("preview");

fileInput.addEventListener("change", (e) => {
  const file = e.target.files[0];

  if (file) {
    preview.src = URL.createObjectURL(file);
  }
});
</script>

</body>
</html>