<!DOCTYPE html>
<html lang="en">
<%- include('includes/head2') %>

<body class="homepagebody">
  <%- include('includes/header') %>
  <div class="homepage">
  <div class="workspaceHeadCover"></div>
  <svg class="homepageBackground" preserveAspectRatio="xMidYMid slice" viewBox="0 0 1440 829" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect width="1440" height="829" fill="url(#homepage-bg-gradient)"/>
    <defs>
      <radialGradient id="homepage-bg-gradient" cx="0" cy="0" r="1" gradientTransform="matrix(331 651.913 -1132.39 544.334 389 177.087)" gradientUnits="userSpaceOnUse">
        <stop stop-color="#161973"/>
        <stop offset="0.537498" stop-color="#635C98"/>
        <stop offset="1" stop-color="#5F7985"/>
      </radialGradient>
    </defs>
  </svg>

  <% if (!workspaces || workspaces.length === 0) { %>

    <div class="noworkspace-layout">
      <div class="noworkspacecontainer">
        <img class="starsNoWorkspace" src="/images/starsNoWorkspace.webp" alt="">
        <h2>You Are Currently Not in Any Workspaces</h2>
        <div class="rightSideButtons">
          <a href="/workspaces/create" class="createbutton">Create Workspace</a>
          <span class="orText">Or</span>
          <a href="/workspaces/join-page" class="joinButton">Join Workspace</a>
        </div>
      </div>
      <img class="groundNoWorkspace" src="/images/groundNoWorkspace.png" alt="">
    </div>

  <% } else { %>


    <img class="ground" src="/images/ground.png"  alt="">

    <main class="homepage-layout">
      <section class="homepage-left">
        <h2>Your Workspaces</h2>
        <div class="workspace-list">
          <% workspaces.forEach(workspace => { %>
            <a href="/workspaces/<%= workspace.workspaceID %>" class="workspace-link">
              <div class="workspaceCard">
                <div class="workspacetitle"><%= workspace.workspaceName %></div>
              </div>
            </a>
          <% }) %>
        </div>
      </section>

      <section class="homepage-right">
        <div class="right-content-wrapper">
          <img class="topStars" src="/images/topStars.webp" alt="">
          <img class="bottomStars" src="/images/bottomStars.webp" alt="">
          <h2>Enter a New Workspace</h2>
          <div class="rightSideButtons">
            <a href="/workspaces/create" class="createbutton">Create Workspace</a>
            <span class="orText">Or</span>
            <a href="/workspaces/join-page" class="joinButton">Join Workspace</a>
          </div>
        </div>
      </section>
    </main>

  <% } %>
  </div>
</body>
</html>
